$theme_color: #e5004f;
header{
    height: 116px;
    padding: 20px 0;
    box-sizing: border-box;
    .container{
        h1{
            float: left;
            margin-right: 5px;
            a{
                display: block;
                width: 215px;
                height: 76px;
                text-indent: -999px;
                background: url(../imgs/header-02.png);
            }
        }
        .welcome{
            float: left;
            width: 124px;
            height: 24px;
            margin-top: 52px;
            background: url(../imgs/header-login.png) no-repeat;
        }
        .header_right{
            background: url(../imgs/register-header.png) 0px -20px no-repeat;
            height: 76px;
            width: 550px;
            float: right;
        }
    }
}

#bd{
    background-color: #F9F9F9;  
    .container{
        padding: 60px 0 50px;
        .reg_ad{
            float: left;
            img{
                display: block;
                width: 780px;
                height: 460px;
            }
        }
    }
}
footer{
    padding-top: 30px;
}